body{
    background-image: url(img/blue\ hearts.jfif);
}
h1{
    font-size:60px;
    border-style:solid;
    font-weight:bold;
}
h2{
    font-size:30px;
    border-style:solid;
    font-weight:bold;
}
h3{
    font-size:30px;
    border-style:solid;
    font-weight:bold;
}
.card-title{
    color:darkblue;
    font-style: italic;
    font-weight: bold;
}
.card-text{
    color:darkblue;
    font-style:oblique;
    font-weight: bold;
}
img{
    border-style:double;
    border-color:lightblue;
    border-width:30px;
}